@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root{
    --background: 227 19% 100%;
    --foreground: 227 5% 10%;
    --card: 227 19% 100%;
    --card-foreground: 227 5% 15%;
    --popover: 227 19% 100%;
    --popover-foreground: 227 95% 10%;
    --primary: 227 100% 82%;
    --primary-foreground: 0 0% 0%;
    --secondary: 227 19% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 189 19% 95%;
    --muted-foreground: 227 5% 40%;
    --accent: 189 19% 90%;
    --accent-foreground: 227 5% 15%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 227 5% 100%;
    --border: 227 20% 82%;
    --input: 227 20% 50%;
    --ring: 227 100% 82%;
    --radius: 0.5rem;
    body{
      --dot-size: 1px;
      --dot-space: 22.4px;
      min-width: 100%;
      min-height: 100vh;
      background: linear-gradient(90deg, hsl(var(--background)), 21px, transparent 1%) 50%, linear-gradient(hsl(var(--background)), 21px, transparent 1%) 50%, hsl(var(--primary));
      background-size: var(--dot-space) var(--dot-space);
    }
  }
  .dark  {
    --background: 227 19% 10%;
    --foreground: 227 5% 100%;
    --card: 227 19% 10%;
    --card-foreground: 227 5% 100%;
    --popover: 227 19% 5%;
    --popover-foreground: 227 5% 100%;
    --primary: 227 100% 82%;
    --primary-foreground: 0 0% 0%;
    --secondary: 227 19% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 189 19% 25%;
    --muted-foreground: 227 5% 65%;
    --accent: 189 19% 25%;
    --accent-foreground: 227 5% 95%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 227 5% 100%;
    --border: 227 20% 50%;
    --input: 227 20% 50%;
    --ring: 227 100% 82%;
    --radius: 0.5rem;
    body{
      --dot-size: 1px;
      --dot-space: 22.4px;
      min-width: 100%;
      min-height: 100vh;
      background: linear-gradient(90deg, hsl(var(--background)), 21px, transparent 1%) 50%, linear-gradient(hsl(var(--background)), 21px, transparent 1%) 50%, hsl(var(--border));
      background-size: var(--dot-space) var(--dot-space);
    }
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body {
  scroll-behavior: smooth;
  height: 100%;
}

html{
  height: 100%;
}