@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root  {
    --background: 235 100% 95%;
    --foreground: 235 5% 10%;
    --card: 235 50% 90%;
    --card-foreground: 235 5% 15%;
    --popover: 235 100% 95%;
    --popover-foreground: 235 100% 10%;
    --primary: 235 88% 58%;
    --primary-foreground: 0 0% 100%;
    --secondary: 235 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 197 30% 85%;
    --muted-foreground: 235 5% 40%;
    --accent: 197 30% 80%;
    --accent-foreground: 235 5% 15%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 235 5% 90%;
    --border: 235 30% 50%;
    --input: 235 30% 50%;
    --ring: 235 88% 58%;
    --radius: 0.5rem;
    body{
      --dot-size: 1px;
      --dot-space: 22.4px;
      min-width: 100%;
      min-height: 100vh;
      background: linear-gradient(90deg, hsl(var(--background)), 21px, transparent 1%) 50%, linear-gradient(hsl(var(--background)), 21px, transparent 1%) 50%, hsl(var(--primary));
      background-size: var(--dot-space) var(--dot-space);
    }

  }
  .dark  {
    --background: 235 50% 10%;
    --foreground: 235 5% 90%;
    --card: 235 50% 10%;
    --card-foreground: 235 5% 90%;
    --popover: 235 50% 5%;
    --popover-foreground: 235 5% 90%;
    --primary: 235 88% 58%;
    --primary-foreground: 0 0% 100%;
    --secondary: 235 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 197 30% 25%;
    --muted-foreground: 235 5% 60%;
    --accent: 197 30% 25%;
    --accent-foreground: 235 5% 90%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 235 5% 90%;
    --border: 235 30% 50%;
    --input: 235 30% 50%;
    --ring: 235 88% 58%;
    --radius: 0.5rem;
  }
  body{
    --dot-size: 1px;
    --dot-space: 22.4px;
    min-width: 100%;
    min-height: 100vh;
    background: linear-gradient(90deg, hsl(var(--background)), 21px, transparent 1%) 50%, linear-gradient(hsl(var(--background)), 21px, transparent 1%) 50%, hsl(var(--primary));
    background-size: var(--dot-space) var(--dot-space);
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body {
  scroll-behavior: smooth;
  height: 100%;
}

html{
  height: 100%;
}